@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: OpenSans-Regular;
}

.header {
  display: flex;
  justify-content: space-around;
  color: red;
}

#img {
  width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 20rem;
}

.grid-item::after {
  content: "Set 'mode' option to 'development' or 'production' to enable defaults for each environment.";
}